body {
    text-align: center;
}

li {
    display: inline;
    padding: 5px;
}

nav, #feature, .cols, footer {
    padding: 10px 0px 5px 0px;
    background-color: rgba(211,211,211, 0.2);
    margin-top: 20px;
}

#feature {
    height: 100px;
}
