body {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

#amazon-logo {
    height: 35px;
    width: 35px;
    vertical-align: middle;
    float: left;
    margin-right: 30px;
}

form {
    width: 800px;
    float: left;
}

select {
    width: 50px;
    height: 35px;
    vertical-align: middle;
    border-radius: 5px;
}

#inputSearch {
    width: 700px;
    height: 35px;
    border-radius: 5px;
}

#signin {
    margin-left: 30px;
    height: 35px;
    border-radius: 5px;
    background-color: aqua;
}

#glass {
    height: 35px;
    width: 35px;
    vertical-align: middle;
    background-color: orange;
    border-radius: 5px;
    border: 1px solid black;
    padding: 0px;
}

nav {
    margin: 10px;
    justify-content: space-between;
    display: flex;
    background-color: rgba(211,211,211, 0.2);
    border-radius: 5px;
}

a {
    text-align: center;
    margin: 5px;
    width: 200px;
    text-decoration: none;
    color: inherit;
}

a:hover {
    font-weight: bold;
}

figure {
    width: 200px;
    display: inline-block;
}

.product {
    width: 250px;
}

figcaption {
    width: 250px;
    text-align: center;
}

section {
    text-align: center;
}

